# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`

In [2]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [3]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [4]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA RDX     19.000000  22.500000
AUDI A3       23.333333  28.000000
AUDI A4       21.000000  27.000000
AUDI A6       19.666667  25.666667
AUDI A8 L     16.500000  22.000000

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [5]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [11]:
model_mpg.sort_values(by=['mpg_change'])

                      cmb_mpg_2008    cmb_mpg  mpg_change
model
MASERATI Granturismo     17.000000  16.000000   -1.000000
BMW 750i                 20.000000  19.500000   -0.500000
TOYOTA Sequoia           14.750000  14.500000   -0.250000
CHEVROLET Corvette       18.000000  17.750000   -0.250000
TOYOTA Tundra            15.400000  15.250000   -0.150000
...                            ...        ...         ...
AUDI S5                  16.000000  24.000000    8.000000
VOLVO XC 90              15.666667  24.000000    8.333333
AUDI S4                  15.500000  24.000000    8.500000
CHEVROLET Equinox        19.000000  27.833333    8.833333
CHEVROLET Malibu         22.333333  33.000000   10.666667

[72 rows x 3 columns]

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [7]:
max_change = model_mpg['mpg_change'].max()
max_change

10.666666666666668

In [8]:
model_mpg[model_mpg['mpg_change'] == max_change]

                  cmb_mpg_2008  cmb_mpg  mpg_change
model
CHEVROLET Malibu     22.333333     33.0   10.666667

Pandas also has a useful [`idxmax`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) function you can use to find the index of the row containing a column's maximum value!

In [13]:
idx = model_mpg.mpg_change.idxmax()
idx

'CHEVROLET Malibu'

In [12]:
model_mpg.loc[idx]

NameError: name 'idx' is not defined